﻿@model List<Razor_Iscrizione_Corsi.Models.Utente>

    @{
    Layout = "_Layout";
    }

    <h1 class="p-5 text-center text-light">Lista Utenti</h1>

    <table class="table table-striped text-center" style="background-color: rgba(255,255,255,0.9);">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Indirizzo</th>
                <th>Data di Nascita</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Cognome</td>
                <td>@item.Indirizzo</td>
                <td>@item.DataNascita</td>
                <td>@item.Username</td>
                <td>@item.Password</td>
            </tr>
            }

        </tbody>
    </table>
