﻿@model Razor_Iscrizione_Corsi.Models.Utente
@{ Layout = "_Layout"; }

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <h1 class="p-5 text-center text-light">Login</h1>
    </div>
    <div class="col-md-4">

    </div>
</div>

<form asp-controller="Utente" asp-action="Login" method="post">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4 p-5" style="background-color: rgba(255,255,255,0.9)">

            <div class="form-group">
                <label>Username:</label>
                <input type="text" class="form-control" asp-for="Username" placeholder="Inserisci il tuo Username." />
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" class="form-control" asp-for="Password" placeholder="Inserisci la tua Password." />
            </div>
            <hr />
            <button type="submit" class="btn btn-block btn-outline-dark">Login</button>
            <hr />
            <a href="/Utente/Register">Non sei ancora registrato? Clicca quì!</a>

        </div>
        <div class="col-md-4">

        </div>
    </div>
</form>