﻿@model Razor_Iscrizione_Corsi.Models.Utente
@{ Layout = "_Layout"; }

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <h1 class="p-5 text-center text-light">Registrati</h1>
    </div>
    <div class="col-md-4">

    </div>
</div>

<form asp-controller="Utente" asp-action="Register" method="post">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4 p-5" style="background-color: rgba(255,255,255,0.9)">

            <div class="form-group">
                <label>Nome:</label>
                <input type="text" class="form-control" asp-for="Nome" placeholder="Inserisci il Nome." />
                <span asp-validation-for="Nome"></span>
            </div>
            <div class="form-group">
                <label>Cognome:</label>
                <input type="text" class="form-control" asp-for="Cognome" placeholder="Inserisci il Cognome." />
                <span asp-validation-for="Cognome"></span>
            </div>
            <div class="form-group">
                <label>Indirizzo:</label>
                <input type="text" class="form-control" asp-for="Indirizzo" placeholder="Inserisci l''Indirizzo." />
                <span asp-validation-for="Indirizzo"></span>
            </div>
            <div class="form-group">
                <label>Data di Nascita:</label>
                <input type="date" class="form-control" asp-for="DataNascita" />
                <span asp-validation-for="DataNascita"></span>
            </div>
            <div class="form-group">
                <label>Username:</label>
                <input type="text" class="form-control" asp-for="Username" placeholder="Inserisci un Username." />
                <span asp-validation-for="Username"></span>
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" class="form-control" asp-for="Password" placeholder="Inserisci una Password." />
                <span asp-validation-for="Password"></span>
            </div>
            <hr />
            <button type="submit" class="btn btn-block btn-outline-dark">Registrati!</button>

        </div>
        <div class="col-md-4">

        </div>
    </div>
</form>