﻿@model List<Razor_Iscrizione_Corsi.Models.Corso>

    @{
    Layout = "_Layout";
    }

    <h1 class="p-5 text-center text-light">Lista Corsi</h1>

    <table class="table table-striped text-center" style="background-color: rgba(255,255,255,0.9);">
        <thead>
            <tr>
                <th>Codice</th>
                <th>Nome del corso</th>
                <th>Descrizione</th>
                <th>Inizio Corso</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.CodiceCorso</td>
                <td>@item.TitoloCorso</td>
                <td>@item.DescCorso</td>
                <td>@item.DataCorso</td>
            </tr>
            }

        </tbody>
    </table>
